.champion {
    padding: 50px 0;
    background-color: #FFE6E1;
    transition: .4s;

    h2 {
        color: $purple;
        text-align: center;
        margin-bottom: 5px;
    }

    h3 {
        text-align: center;
        margin-bottom: 30px;
        color: $orange;
        font-size: 22px;
    }
    p{
        color: $purple;
        text-align: center;
        font-size: 18px;

    }

    &:hover {
        padding: 120px 0;
        background-color: $orange;
        transition: .4s;
        cursor: pointer;

        h2 {
            color: white;
        }

        h3{
            color: $purple;
        }
        p{
            color: $white;
            opacity: .8;
    
        }

        .text-block {
            padding: 50px 0;
            background: url('../../assets/img/cup.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: .2s;
        }

    }


}