.chat{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10000;
    &:hover{
        cursor: pointer;
    }
    .container{
        padding: 0;
    }
    img{
        width: 80px;
    }
}