.cta-block {
    padding: 130px 0;
    background-color: $orange;
    text-align: center;
    h2{
        color: white;
    }
    p{
        font-size: 18px;
        margin-top: 20px;
        color: white;
    }
    .btn{
        margin-top: 30px;
    }
    @include sm {
        margin: 100px 0;

        .mobile-block {
            padding: 0;
        }
    }

    .resume {
        background-color: $purple;
        color: white;
        padding: 40px;
        border-radius: 10px;
        text-align: center;

        h3 {
            font-size: 40px;

            @include sm {
                font-size: 30px;
            }
        }

        .btn {
            margin-top: 40px;
            padding: 13px 35px;
            font-size: 20px;
        }
    }
}