header {
  background-image: url('../../assets/img/home.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;

}

nav {

  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 10000;
  padding: 20px 0 !important;

  .navbar-brand {
    margin-right: 0;
  }

  .container {
    @include md {
      width: 100% !important;
      padding-right: 25px !important;
      padding-left: 25px !important;
      min-width: 100% !important;
    }

  }

  @include md {
    padding: 20px 15px !important;
  }

  // .nav-item {
  //   font-size: 16px;
  //   color: $purple;
  //   font-weight: 500;

  //   &:hover {
  //     color: $pink;
  //   }
}


.button-group {
  margin-left: 0 auto;

  svg {
    margin-right: 10px;
  }

  .btn {
    color: white;
    margin-left: 15px;

  }

  @include lg {
    order: -1;
  }
}



.navbar-nav {
  display: flex;
  align-items: center;
  margin: 0 25px;

  @include lg {
    height: calc(100vh - 75.19px);
    align-content: center;
    display: flex;
    justify-content: center;
  }

  .nav-link {
    font-size: 17px;
    // padding: 0 15px !important;
    padding-right: 20px !important;
    color: $white;
    transition: 0.3s;
    font-weight: 400;
    // text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    opacity: .8;


    @include lg {
      padding: 25px 0 !important;
      font-size: 30px;
    }

    &:hover {
      opacity: 1;
      transition: 0.3s;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);

    }
  }
}

.banner {
  padding: 200px 0 160px 0;

  @include md {
    h1 {
      font-size: 40px;
    }
  }

  .banner-text {
    h2 {
      font-size: 25px !important;
      color: white;
      font-weight: 400;
      margin-top: 20px;
      text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);

    }
  }

  // .banner-buttons {
  //   margin-top: 45px;

  //   @include lg {
  //     display: flex;
  //     justify-content: center;
  //   }

  //   .btn {
  //     margin: 0 5px;
  //   }
  // }

  .simulator-btn {
    margin-top: 40px;
    font-size: 20px;
    padding: 10px 35px;
    padding-bottom: 12px;

    &:hover {
      cursor: pointer;
    }
  }
}

.hamburger {
  padding: 0;

  // @include lg {
  //   order: 3;
  // }

  &:focus {
    outline: none !important;
  }

  .hamburger-inner {
    background-color: $orange !important;
    height: 3px;
    width: 35px;

    &:before {
      background-color: $orange !important;
      height: 3px;
      width: 35px;
    }

    &:after {
      background-color: $orange !important;
      height: 3px;
      width: 35px;
    }
  }
}



.scroll-nav {
  background-color: white;
  transition: .3s;
  box-shadow: 0px -37px 57px black;

  .nav-link {
    color: $purple;
    text-shadow: none;
    opacity: .6;

    &:hover {
      text-shadow: none;
    }
  }

  .button-group {
    .btn-two {
      color: $purple;

      &:hover {
        color: white;
      }
    }
  }
}


.dropdown {
  .dropdown-toggle {
    &:after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.2em solid;
      border-right: 0.2em solid transparent;
      border-bottom: 0px;
      border-left: 0.2em solid transparent;
    }
  }

  .dropdown-menu {
    border: none;
    opacity: 1 !important;
    margin-top: 25px;

    .arrow-up {
      width: 0; 
      height: 0; 
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;      
      border-bottom: 16px solid $orange;
      position: absolute;
      top: -10px;
      left: 15px;

    }

    .dropdown-item {
      &:hover {
        background-color: $light-orange;
        color: white;
      }
    }
  }
}