.icons-category {
    padding: 180px 0 160px 0;

    .row {
        display: flex;
        justify-content: space-between;
    }

    .card {
        border: none;
        padding: 20px;

        &:hover {
            cursor: pointer;
        }

        .card-img-top {
            svg {
                max-height: 85px;
            }

        }

        .card-body {
            padding-bottom: 0;

            .card-title {
                font-size: 19px;
                color: $purple;
                text-align: center;
                margin-bottom: 0;
            }
        }

    }


    // svg-custom

    .card {

        &:hover {
            .immo {
                path {
                    fill: $orange;
                    transition: .2s;
                }
            }
        }

        &:hover {
            .solar {
                path {
                    fill: #FF635C;
                    transition: .2s;
                }
            }
        }

        &:hover {
            .whine {
                path {
                    fill: #FF4E5C;
                    transition: .2s;
                }
            }
        }

        &:hover {
            .building {
                path {
                    fill: #FF395C;
                    transition: .2s;
                }
            }
        }

        &:hover {
            .save {
                path {
                    fill: #FF245C;
                    transition: .2s;
                }
            }
        }

    }



}