.partner {
    padding: 120px 0;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        border: none;

        .card-body {
            text-align: center;

            .card-title {
                font-weight: 600;
            }
        }

        .card-img-top {
            display: flex;
            justify-content: center;

            img {
                height: 100px;


            }
        }
    }
}