.resume{
    padding: 120px 0;
    h2{
        font-weight: 400;
            text-align: center;
            color: $purple;

    }
    p{
        margin-top: 30px;
        font-size: 18px;
        color: $purple;
    }

    .forsis-video{
        margin-top: 50px;
    }
}