.two-column {

    .container-fluid {
        padding: 0;
    }

    .two-column-text {
        padding: 120px 0;
        color: white;
        background-color: $purple;

        h2{
            text-align: left;
        }
    }

    .resume-1-subpart{
        h3{
            color: $orange;
        }
        .btn{
            color: white;
        }
    }

    .resume-1-img{
        background-image: url('../../assets/img/couple.jpg');
        background-position: center;
        background-size: cover;
    }
}