$dark-blue: #083b5b;
$blue: #00c4ff;
$pink: rgb(221, 68, 81);
$orange: #FF785C;
$light-orange: #FF9F8C;
$light-pink: #f91272;
$dark-pink: #b80235;
$light-grey: #e7e1e1;
$purple: #711a5a;
$yellow: #FFB012;
$light-yellow: #FFF9EC;



// Fonts


body {
  font-family: arboria, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Media

$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}

@mixin min-rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}


h1 {
  font-weight: 700;
  color: white;
  font-size: 55px;
  transition: .3s;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6);
  text-align: center;

  @include md {
    font-size: 40px;
    transition: .3s;
  }
}

h2 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;

}


//  Buttons



// btn-two

.from-bottom {
  &:before {
    position: absolute;
    content: "";
    background: $orange;
    transition-duration: 0.3s;
    z-index: -1;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    opacity: 1;
  }

  &:hover {
    color: white;
    background: $orange;
    transition: all 0.3s ease 0s;

    &:before {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

}

.btn-two {

  border-radius: 50px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  padding-bottom: 11px;
  text-align: center;
  border: 2px solid $orange;
  text-decoration: none;
  color: $purple;
  white-space: nowrap;
  z-index: 0;
}




.btn-three {
  background: linear-gradient(90deg, rgba(255, 120, 92, 1) 0%, rgba(255, 0, 65, 1) 100%);
  padding: 8px 20px;
  padding-bottom: 11px;
  border-radius: 50px;
  transition: .4s;
  color: white;

  &:hover {
    box-shadow: 0px 3px 14px -2px $orange;
    transition: .3s;
    color: white;
    transform: scale(1.1);

  }
}

.btn-four {
  background: $light-orange;
  padding: 8px 20px;
  padding-bottom: 11px;
  border-radius: 50px;
  transition: .4s;
  color: white;

  &:hover {
    box-shadow: 0px 5px 17px 4px $light-orange;
    transition: .3s;
    color: white;
    transform: scale(1.1);

  }
}



.btn-five {
  border-radius: 50px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  text-align: center;
  border: 2px solid $white;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  z-index: 0;
}

.from-bottom-2 {
  &:before {
    position: absolute;
    content: "";
    background: white;
    transition-duration: 0.3s;
    z-index: -1;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    opacity: 1;
  }

  &:hover {
    color: $purple;
    background: white;
    transition: all 0.3s ease 0s;

    &:before {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

}



.select2 {
  width: inherit !important;
}

label {
  margin-bottom: 0.2rem;
  font-weight: 600;
  color: $purple;
}

input {
  &:focus {
    box-shadow: none !important;
  }
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
  background-color: #f7f7f7;
  border-color: $yellow;
  box-shadow: none;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
  background-color: $yellow;
  color: #f8f9fa;
}

.row {
  margin: 0 auto;
}

.form-control {
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: $yellow;
    outline: 0;
  }
}

::selection {
  color: white;
  background: $orange;
}

.title-block {
  padding: 20px;
}

.modal {
  .modal-content {
    border: none;
  }

  .modal-title {
    font-size: 25px;
  }

  .modal-body {
    font-size: 14px;
  }
}



.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.custom-control-input:active~.custom-control-label::before {
  background-color: $pink;
}

.scroll-downs {
  position: absolute;

  right: 0;
  bottom: 5%;
  left: 0;
  margin: auto;

  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid white;
  border-radius: 25px;
  opacity: 1;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: $orange;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}